
{{define "cover"}}
\documentclass[11pt]{letter}
\usepackage[hidelinks]{hyperref}
\usepackage[margin=.75in]{geometry}
\nofiles{}
\pdfgentounicode=1
\urlstyle{same}

\signature{ {{.Info.Name}} } 

\begin{document}

\begin{letter}{}

\opening{ {{- .CoverLetter.Greeting -}} }

{{.CoverLetter.Body}}

\closing{Sincerely,}

\end{letter}
\end{document}
{{end}}
