{{define "Education"}}
\section{Education}
{{range .Education}}
\textbf{ {{- .Name -}} } \hfill \textbf{ {{- date .StartDate}} \textendash{} {{date .EndDate -}} }\\
\textit{ {{- .Major -}} {{if .Minor}} \textbar{}\thinspace{}Minor in {{.Minor -}} } {{end}} \hfill \textit{\small  {{ .Location -}} }
\vspace{2pt}
{{end}}
\vspace{0pt}
{{end}}
