{{define "Projects"}}
\section{Projects}
{{range .Projects}}
\textbf{ {{- .Name -}} } \textit{ \textemdash{} {{listify .Technologies ","}} } \\
\vspace{-7pt}
\begin{itemize}
	{{range .Description}} \item { {{- . -}} }\vspace{-7pt}
	{{end}}
\end{itemize}
{{end}}
\vspace{0pt}
{{end}}
