
{{define "cover"}}
\documentclass[11pt]{letter}
\usepackage[hidelinks]{hyperref}
\usepackage[margin=.75in]{geometry}
\nofiles{}
\pdfgentounicode=1
\urlstyle{same}

\signature{ {{.Info.Name}} } 

\begin{document}

\begin{letter}{ {{if .CoverLetter.Name -}}{{.CoverLetter.Name}}\\{{- end}}{{if .CoverLetter.Title}}{{.CoverLetter.Title}}\\{{- end}}{{if .CoverLetter.Company}} {{.CoverLetter.Company}}\\{{- end}}{{if .CoverLetter.Address.Street }}{{.CoverLetter.Address.Street}}\\{{- end}}{{if .CoverLetter.Address.City -}} {{.CoverLetter.Address.City}},{{- end}} {{if .CoverLetter.Address.State -}} {{.CoverLetter.Address.State}}{{- end}} {{if .CoverLetter.Address.Zip -}}{{.CoverLetter.Address.Zip}}{{- end}} }

\opening{Dear {{.CoverLetter.Greeting}},} 

{{.CoverLetter.Body}}

\closing{Sincerely,}

\end{letter}
\end{document}
{{end}}
