{{define "Projects"}}
\section{Projects}
{{range .Projects}}
	\textbf{ {{- .Name -}} } \textit{ \textemdash{} {{listify .Technologies ","}} } \\
	\begin{itemize}
		\vspace{-7pt}
		\item { {{- .Description -}} }
	\end{itemize}
	\vspace{-5pt}
{{end}}
{{end}}
